.burger-menu {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;

  span {
    height: 3px;
    width: 100%;
    display: block;
    background-color: dodgerblue;
    top: 50%;
    position: absolute;

    &:before {
      content: '';
      height: 3px;
      width: 100%;
      display: block;
      background-color: dodgerblue;
      top: 10px;
      position: absolute;
    }

    &:after {
      content: '';
      height: 3px;
      width: 100%;
      display: block;
      background-color: dodgerblue;
      bottom: 10px;
      position: absolute;
    }
  }
}
