.first-screen-content {
    padding: 25px 15px;
    h1 {
        font-size: 40px;
        max-width: 250px;
        margin: 100px 0 50px;
        span {
            color: dodgerblue;
        }
    }
    .first-screen-subtitle {
        font-size: 25px;
        max-width: 450px;
        margin-bottom: 50px;
    }
}






